.reviews {
  
  padding: 35px 28px 45px;
  text-align: center;
}

.title {
  background: #d8c4a0;
  border-radius: 40px 0 40px 0;
  color: white;

  width: 100%;
  max-width: 350px;
  margin: 0 auto 34px;
  padding: 22px 18px;


  font-size: clamp(2.4rem, 5vw, 5rem);
  font-weight: 300;
  line-height: 1.2;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.card {
  background: #86a5a2;
  color: white;

  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  padding: 32px 22px;

  border-radius: 0 45px 0 45px;
  text-align: center;
}



